@using EBrief.WebClient.Components

<TabControl>
    <TabPage Title="Bail Agreements">
        <div>
            <h3 class="text-lg">Bail agreements</h3>
            @if (Parent.ActiveDefendant!.BailAgreements.Count == 0) {
                <div>No bail agreements to display</div>
            }
            @foreach (var bailAgreement in Parent.ActiveDefendant!.BailAgreements) {
                <div>
                    <p class="py-1 text-lg">Entered into on @bailAgreement.DateEnteredInto</p>
                    @foreach (var condition in bailAgreement.Conditions) {
                        <p>
                            @(condition.Number + 1):  @condition.Text
                        </p>
                    }
                    <br />
                </div>
            }
        </div>
    </TabPage>
    <TabPage Title="Intervention Orders">
        <div>
            <h3 class="text-lg">Intervention Orders</h3>
            @if (Parent.ActiveDefendant!.InterventionOrders.Count == 0) {
                <div>No intervention orders to display</div>
            }
            @foreach (var io in Parent.ActiveDefendant!.InterventionOrders) {
                <div>
                    <p class="py-1 text-lg">Order served on @io.DateIssued</p>
                    @foreach (var condition in io.Conditions) {
                        <p>
                            @(condition.Number + 1):  @condition.Text
                        </p>
                    }
                    <br />
                </div>
            }
        </div>
    </TabPage>
</TabControl>
@code {
    [CascadingParameter]
    public CourtListPage Parent { get; set; } = default!;

}
