@page "/court-list"

@using EBrief.Components
@using EBrief.Components.Pages
@using EBrief.Models.UI
@using Microsoft.JSInterop
@using Radzen.Blazor
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

@if (_error is not null) {
    <p>@_error</p>
    <RadzenButton Text="Back to start" Click="HandleReturnHome" />
}

else if (_loading) {
    <div class="w-full h-full flex justify-center items-center">
        <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" ShowValue=false />
    </div>
}
else {
    <div class="h-full grid grid-cols-[0.2fr_1fr] grid-rows-[auto_1fr] py-2">
        <div class="row-span-2 overflow-auto max-h-full pl-2">
            <div class="flex flex-col pr-2 border-r border-r-3 border-r-slate-500">
                @foreach (var defendant in CourtList.Defendants) {
                    <div class="text-sm lg:text-lg p-1 max-h-[6rem] border border-slate-500 bg-slate-200 cursor-pointer @IsSelected(defendant)" @onclick="() => ActivateDefendant(defendant)">
                        @defendant.LastName.ToUpper(), @defendant.FirstName
                    </div>
                }
            </div>
        </div>
        @if (ActiveDefendant is null) {
            <div class="pb-2">
            </div>
        }
        else {
            <div class="pb-2 pr-4 w-full flex justify-between">
                <RadzenSelectBar Data="@ActiveDefendant!.CaseFiles" @bind-Value="@ActiveDefendant!.ActiveCaseFile" Change="@CaseFileChanged" TValue="CaseFile" TextProperty="CaseFileNumber" ValueProperty="ActiveCaseFile" />
                <div>
                    <RadzenButton Text="Save" Click="SaveCourtList" />
                    <RadzenButton Text="Export Court List" Click="ExportCourtList" />
                    <RadzenButton Text="Back to start" Click="HandleReturnHome" />
                </div>
            </div>
        }
        <div class="h-full border-l border-l-3 border-l-slate-500">
            <CascadingValue Value="this">
                <CascadingValue Value="_dataAccess">
                    <TabControl>
                        <TabPage Title="CFEL">
                            <CfelPage />
                        </TabPage>
                        <TabPage Title="Information">
                            <InformationPage />
                        </TabPage>
                        <TabPage Title="Facts of Charge">
                            <FactsOfChargePage />
                        </TabPage>
                        <TabPage Title="Offender History">
                            <OffenderHistoryPage />
                        </TabPage>
                        <TabPage Title="Correspondence">
                            <CorrespondencePage />
                        </TabPage>
                        <TabPage Title="Evidence">
                            <EvidencePage />
                        </TabPage>
                        <TabPage Title="Orders">
                            <OrdersPage />
                        </TabPage>
                        <TabPage Title="Schedule">
                            <SchedulePage />
                        </TabPage>
                        <TabPage Title="Follow-Ups">
                            <FollowUpsPage />
                        </TabPage>
                        <TabPage Title="Notes">
                            <NotesPage />
                        </TabPage>
                    </TabControl>
                </CascadingValue>
            </CascadingValue>
        </div>

    </div>
}

<dialog @ref="UnsavedChangesDialog" class="p-5">
    <h3 class="text-lg">You have unsaved changes. Do you wish to continue?</h3>
    <div class="flex w-full justify-end gap-3">
        <RadzenButton Text="Confirm" Click="HandleReturnHome" />
        <RadzenButton Text="Cancel" Click="CloseUnsavedChangesDialog" />
    </div>
</dialog>
