@using EBrief.Helpers
@using EBrief.Models.UI
@using EBrief.Pages

<ul class="select-none pb-2">
    @for (int i = 0; i < CourtSittings.Count; i++)
    {
        int idx = i;
        var courtSitting = CourtSittings[idx];
        <li class="tree">
            <div id="court-sitting-@idx" class="text-lg relative text-center font-bold ">
                <p class="mt-2 py-1 text-center underline border-slate-500 hover:bg-slate-100 active:bg-slate-200"
                   @onclick="() => ToggleCourtSitting(courtSitting, idx)">
                    @courtSitting.Name
                </p>
                <ul class="@(IsVisible(courtSitting) ? "block" : "hidden")">
                    @foreach (var defendant in courtSitting.Defendants)
                    {
                        <li class="relative text-sm text-left font-normal lg:text-lg p-1 first:border-t 
                            border-l border-r border-b border-slate-500 bg-slate-200 @Parent.IsSelected(defendant)
                            hover:bg-slate-300 active:bg-slate-400"
                            @onclick="() => Parent.ActivateDefendant(defendant)">
                            <p class="cursor-pointer whitespace-nowrap text-ellipsis overflow-hidden"
                               title="@(defendant.LastName.ToUpper()), @(defendant.FirstName)">
                                @defendant.LastName.ToUpper(), @defendant.FirstName
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
</ul>

@code {
    [CascadingParameter] public CourtListPage Parent { get; set; } = default!;
    [Parameter] public List<CourtSitting> CourtSittings { get; set; } = [];
    [Inject] public IJSRuntime JSRuntime { get; set; } = default!;
    private Dictionary<int, bool> CourtSittingVisibility { get; set; } = new();

    protected override void OnInitialized()
    {
        CourtSittings.ForEach(cs => CourtSittingVisibility.Add(cs.Id, true));
    }

    private void ToggleCourtSitting(CourtSitting courtSitting, int id)
    {
        CourtSittingVisibility[courtSitting.Id] = !CourtSittingVisibility[courtSitting.Id];
    }

    private bool IsVisible(CourtSitting courtSitting)
    {
        return CourtSittingVisibility[courtSitting.Id];
    }
}
