@using EBrief.Shared.Helpers
@using EBrief.Shared.Models
@using EBrief.Shared.Models.UI
@using EBrief.Shared.Pages
@inject IJSRuntime JSRuntime

<ul class="select-none pb-2">
    @for (int i = 0; i < CourtSittings.Count; i++)
    {
        int idx = i;
        var courtSitting = CourtSittings[idx];
        <li class="tree">
            <div id="court-sitting-@idx" class="text-lg relative text-center font-bold">
                <p class="mt-2 py-1 text-center border-gunmetal bg-slate-200 hover:bg-slate-300 active:bg-slate-400"
                   @onclick="() => ToggleCourtSitting(courtSitting, idx)">
                    @courtSitting.Name
                </p>
                <ul class="@(IsVisible(courtSitting) ? "block" : "hidden")">
                    @foreach (var defendant in courtSitting.Defendants)
                    {
                        <li class="relative text-sm font-normal text-left lg:text-lg p-1 first:border-t
                            text-center @Parent.IsSelected(defendant) border-b border-slate-300
                            hover:bg-slate-300 active:bg-slate-400"
                            @onclick="() => Parent.ActivateDefendant(defendant)">
                            <p class="cursor-pointer whitespace-nowrap text-ellipsis overflow-hidden"
                               title="@(defendant.LastName.ToUpper()), @(defendant.FirstName)">
                                @defendant.LastName.ToUpper(), @defendant.FirstName
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
</ul>

@code {
    [CascadingParameter] public ICourtListPage Parent { get; set; } = default!;
    [Parameter] public List<CourtSession> CourtSittings { get; set; } = [];
    private Dictionary<int, bool> _courtSittingVisibility { get; set; } = [];

    protected override void OnInitialized()
    {
        CourtSittings.ForEach(cs => _courtSittingVisibility.Add(cs.Id, true));
    }

    private async Task ToggleCourtSitting(CourtSession courtSitting, int id)
    {
        _courtSittingVisibility[courtSitting.Id] = !_courtSittingVisibility[courtSitting.Id];
        if (_courtSittingVisibility[courtSitting.Id])
        {
            await JSRuntime.InvokeVoidAsync("scrollToBottomOfCourtSitting", $"court-sitting-{courtSitting.Id}");
        }
    }

    private bool IsVisible(CourtSession courtSitting)
    {
        return _courtSittingVisibility[courtSitting.Id];
    }
}
